language: python
sudo: required
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
notifications:
  email:
    on_success: never
    on_failure: always
install:
  - pip install pytest paramiko pytest-cov coveralls codecov
script:
  - sudo chmod u+s `which ping`
  - cd crrunner && python -m pytest -s --cov=crrunner
after_success:
  - coveralls
  - codecov