language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
notifications:
  email:
    on_success: never
    on_failure: always
install:
  - pip install pytest
script:
  - python -m pytest -s